@model IEnumerable<BookStoreProject.DAL.Data.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Supplier List</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Supplier</a>
</p>
<table  class="table table table-striped">
    <thead class="table-primary">
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success">Update</a> |
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
